<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Substraction (-)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="fixed" style="color:#00b7ff">Number 1:</ion-label>
    <ion-input type="number" [(ngModel)]="a"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="fixed" style="color:#00b7ff">Number 2:</ion-label>
    <ion-input type="number" [(ngModel)]="b"></ion-input>
    </ion-item>
    <ion-button (click)="onAdd()" style="float:right">Substraction</ion-button>
    <p><ion-text style="color:#00b7ff">&emsp;Result:</ion-text>&emsp;{{ result }}</p>
    
</ion-content>
