input[type="button"] {
    background-color: #fffb91;
    color: bold #07082e 3px;
    border: solid black 2px;
    width: 120px;
    font-size:30px;
    color:black;
    size:20px;
    height:60px;
  }

  input[type="text"] {
    background-color: #fffb91;
    border: solid black 2px;
    width: 100%;
  }
  #result{
      font-size:30px;
      height:60px;
  }
  
